@import "bootstrap/dist/css/bootstrap.min.css";

body {
    background: #efefef;
}

#excuse {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    width: 80%;
    margin: 200px auto;
}